body {
    margin: 0;
    padding: 0;
    background: url('img/hinterhrundBig.png') no-repeat center center fixed;
    background-size: cover;

}

body {
    font-family: 'Permanent Marker', serif;
}
#impressumLink {
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: 11px;
    color: rgb(255, 254, 250);
    z-index: 1000;
}

#impressumLink a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.6;
}

#impressumLink a:hover {
    opacity: 1;
}



.startScreen-image {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: black;
    box-shadow: 0 0 15px 5px white;
    border-radius: 20px;
    touch-action: none;
    user-select: none;
}

#startScreen {

    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 800px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: black;
    box-shadow: 0 0 15px 5px white;
    border-radius: 20px;
    touch-action: none;
    user-select: none;
    height: auto;
    aspect-ratio: 800 / 480;

}

#startScreen h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 20;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#startButton {
    cursor: pointer;
    border-radius: 50%;
    top: 20%;
    left: 50%;
    z-index: 20;
}

#startButton:active {
    opacity: 0.6;
    transform: scale(0.95);
}

#startButton:hover {
    transform: scale(1.05);
    opacity: 0.6;
}

#startScreen .button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
}

.button:hover {
    transform: scale(1.05);
}

.desk-bigView {
    position: absolute;
    height: 70px;
    cursor: pointer;
}

.desk-bigView:hover {
    transform: scale(1.05);
    opacity: 0.6;
}
#soundControl {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

#soundButton {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

#soundButton:hover {
    transform: scale(1.1);
}

canvas {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: black;
    box-shadow: 0 0 15px 5px white;
    border-radius: 20px;
    touch-action: none;
    user-select: none;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.control-button {
    background-color: #d89b00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0.6;
}

.control-button:hover {
    background-color: #e0a800;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#infoButton {
    pointer-events: auto;
    opacity: 1;
}

#infoButton:hover {
    background-color: #e0a800;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.mobile-controls {
    display: flex;
    top: 540px;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 100;
}


.mobile-control {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.mobile-control:hover {
    background-color: rgba(200, 200, 200, 0.8);
    transform: scale(1.1);
}

.at-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(151, 149, 149, 0.37);
    z-index: 2000;
    display: none;
}

.content {
    position: absolute;
    background-color: #a87c35;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 20%;
    border-radius: 25px;
    padding: 50px;
    color: white;
    font-size: 21px;

}

.control-button {
    font-family: 'Permanent Marker', serif;
}

#orientationMessage {
    display: none;
    /* Standardmäßig versteckt */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

#muteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
    background: none;
    border: none;
    padding: 0;
}
#muteButton img {
    width: 100%;
    height: 100%;
}
@media (max-width: 630px) and (orientation: portrait) {
    #orientationMessage {
        display: block;
    }
}



@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }


}

@media only screen and (max-height: 630px) {
    canvas {
        height: 100vh;
    }

    #startScreen {
        width: 93%;
        height: 98%;
        aspect-ratio: 800 / 480;
    }


    canvas {
        width: 93%;
        height: 98%;
        aspect-ratio: 800 / 480;
    }

  

}

@media (max-width: 1024px) {
    #startScreen {
        width: 93%;
        aspect-ratio: 800 / 480;
    }

    .content {
        padding: 27px;
        color: white;
        font-size: 18px;
    }

    canvas {
        width: 93%;
        aspect-ratio: 800 / 480;
    }

    .mobile-control {
        width: 40px;
        height: 40px;
    }

    .control-button {
        padding: initial;
    }
}

@media (max-width: 630px) {
    #mobile-controls {
        display: flex;
        justify-content: center;
    }

    #controls {
        display: none;
    }

    #startButton {
        height: 120px;
    }
    #startScreen h1 {
        font-size: 19px;
    }
}

@media only screen and (max-height: 524px) {
  
    #controls {
        display: none;
    }

    .mobile-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 680px) {
    #startButton {
        height: 150px;
    }
}